<h2><%= @nation.name %><a href="/nation/<%= @nation.id %>/edit" class="change-link">Edit</a></h2>

<ol>
<% @nation.athletes.each do |athlete| %>
  <li><%= athlete.name %>
    <ul>
    <% athlete.participation.each do |event| %>
    <li><%= event.name  %></li>
    <% end %>
    </ul>
  </li>
<% end %>
</ol>
<hr>
<form action="/nation/<%= @nation.id %>/delete" method="post">
  <input type="submit" value="Delete">
</form>

<hr>

<a href="/nation" class="btn">Back</a>
<a href="/" class="btn">Home</a>