<% calc = Standings.new() %>
<% calc.update_standings_nations %>
<% @current_standings = calc.standings_nations %>

<table>
<tr>
  <th>Rank</th>
  <th>Name</th>
  <th>Gold</th>
  <th>Silver</th>
  <th>Bronze</th>
  <th>Points</th>
</tr>
<% i = 1 %>
<% @current_standings.each do |standing| %>
  <tr>
    <td><%= i %></td>
    <td><%= standing[:nation_name]  %></td>
    <td><%= standing[:gold]%></td>
    <td><%= standing[:silver] %></td>
    <td><%= standing[:bronze] %></td>
    <td><%= standing[:points] %></td>
  </tr>
<% i += 1 %>
<% end %>
</table>