<% calc = Standings.new() %>
<% calc.update_standings_nations %>
<% @current_standings = calc.standings_nations %>




<div class="standings-row">
 <div class="table-item">Rank</div>
 <div class="table-item-big">Name</div>
 <div class="table-item">Gold</div>
 <div class="table-item">Silver</div>
 <div class="table-item">Bronze</div>
 <div class="table-item">Points</div>
</div>
<% i = 1 %>
<% @current_standings.each do |standing| %>
<div class="standings-row">
  <div class="table-item"><%= i %></div>
  <div class="table-item-big"><%= standing[:nation_name] %></div>
  <div class="table-item"><%= standing[:gold] %></div>
  <div class="table-item"><%= standing[:silver] %></div>
  <div class="table-item"><%= standing[:bronze] %></div>
  <div class="table-item"><%= standing[:points] %></div>
</div>
<% i += 1 %>
<% end %>


<!-- 
<table>
<tr>
  <th>Rank</th>
  <th>Name</th>
  <th>Gold</th>
  <th>Silver</th>
  <th>Bronze</th>
  <th>Points</th>
</tr>
<% i = 1 %>
<% @current_standings.each do |standing| %>
  <tr>
    <td><%= i %></td>
    <td><%= standing[:nation_name]  %></td>
    <td><%= standing[:gold] %></td>
    <td><%= standing[:silver] %></td>
    <td><%= standing[:bronze] %></td>
    <td><%= standing[:points] %></td>
  </tr>
<% i += 1 %>
<% end %>
</table> -->