<h2>Show</h2>

<h3><%= @athlete.name  %></h3>

<p>Nation : <%= @athlete.nation.name %><a href="/athlete/<%= @athlete.id %>/edit " class='change-link'>Edit</a> </p>

<table>
  <tr>
    <th>Gold</th>
    <th>Silver</th>
    <th>Bronze</th>
    <th>Points</th>
  </tr>
  <tr>
    <td><%= @result[:gold].count %></td>
    <td><%= @result[:silver].count %></td>
    <td><%= @result[:bronze].count %></td>
    <td><%= @result[:points] %></td>
  </tr>
</table>
<hr>
<p><h4>Events awarded gold </h4><ul>
  <% @result[:gold].each do |event| %>
    <li><%= event.name %></li>
  <br>
<%end%>
</ul>
</p>
<p><h4>Events awarded silver </h4><ul>
  <% @result[:silver].each do |event| %>
    <li><%= event.name %></li>
  <br>
<%end%>
</ul>
</p>
<p><h4>Events awarded bronze </h4><ul>
  <% @result[:bronze].each do |event| %>
    <li><%= event.name %></li>
  <br>
<%end%>
</ul>
</p>
<hr>
<h4>Paticipated:</h4>
<p>
<ul>
  <% @athlete.participation.each do |event|  %>
    <li><%= event.name %></li>
  <% end %>
</ul>
</p>

<hr>
<form action="/athlete/<%= @athlete.id %>/delete" method="post"><input type="submit" value="Delete">

</form>
<hr>
<a href="/" class=btn>Home</a>
<a href="/athlete" class=btn>Back</a>
