<form action="/event/<%= @event.id %>" method="post">
  <label for="name" >Event:</label>
  <input type="text" name="name" value="<%= @event.name %>">

  <input type="hidden" name="gold_winner" value="<%= @event.gold_winner %>">
  <input type="hidden" name="silver_winner" value="<%= @event.silver_winner %>">
  <input type="hidden" name="bronze" value="<%= @event.bronze_winner %>">



  <input type="submit" name="Make changes">
</form>