<h2>Show</h2>



<h3> <%= @event.name %> </h3>



<p><a href="/participant/<%= @event.id %>">Add/Remove participants</a></p>
<p>
<a href="/event/<%= @event.id %>/edit/ammend">Ammend </a>
<a href="/event/<%= @event.id %>/edit/medals">Award Medals</a>
<form action="/event/<%= @event.id %>/delete" method="post">
  <input type="submit" value="Delete">
</form>
</p>

<a href="/">Home</a>
<a href="/event">Back</a>