<h2>Event</h2>

<h3> <%= @event.name %> <span class="change-link"><a href="/event/<%= @event.id %>/edit/ammend">Change</a></span></h3>


<% if @medalists[:gold] != nil && @medalists[:silver] != nil && @medalists[:bronze] != nil %>
<table>
  <tr>
    <th> </th>
    <th>Medalists</th>
    <th>Nation</th>
  </tr>
  <tr>
    <td>Gold</td>
    <td><%= @medalists[:gold].name %></td>
    <td><%= @medalists[:gold].nation.name %></td>
  </tr>
  <td>Silver</td>
  <td><%= @medalists[:silver].name %></td>
  <td><%= @medalists[:silver].nation.name %></td>
  <tr>
  </tr>
  <tr>
    <td>Bronze</td>
    <td><%= @medalists[:bronze].name %></td>
    <td><%= @medalists[:bronze].nation.name %></td>
  </tr>
  </table>
  <p><a href="/event/<%= @event.id %>/edit/medals">Change Medals</a></p>
<% else %>
  </table>
  <p><a href="/event/<%= @event.id %>/edit/medals">Award Medals</a></p>

<% end %>



<hr>

<table>
<tr>
<td colspan="2">
 <strong>Participants</strong>
 </td>
</tr>
<% @athletes.each do |athlete| %>
<tr>
  <td><%= athlete.name %></td>
  <td><%= athlete.nation.name %></td>
</tr>
<% end %>
</table>
<p><a href="/participant/<%= @event.id %>">Add/Remove participants</a></p>
<hr>





<form action="/event/<%= @event.id %>/delete" method="post">
  <input type="submit" value="Delete">
</form>
</p>

<hr>
<a href="/event" class="btn">Back</a>
<a href="/" class="btn">Home</a>
